@import "~typeface-exo-2/index.css";
@import "~typeface-roboto/index.css";
@import '~material-icons/iconfont/material-icons.css';
@import "~react-perfect-scrollbar/dist/css/styles.min.css";
@import "~react-quill/dist/quill.snow.css";
@import "~flatpickr/dist/themes/airbnb.css";
@import "~react-dragula/dist/dragula.min.css";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/semantic.rtl.min.css";
@import "~ol/ol.css";
@import '~swiper/swiper.min.css';
@import '~swiper/components/navigation/navigation.min.css';
@import '~swiper/components/pagination/pagination.min.css';
@import "~toastr/build/toastr.min.css";

.layout-default {
  height: 100vh;
}

a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  &:focus {
    outline: none;
  }
}

.map-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.layout-compact {
  min-width: 1024px;

  .sidebar-secondary {
    visibility: hidden;
  }
}

.filter-cell .filter-item-dropdown {
  display: block;
  transform: translate(0px, 44px) !important;

  &.near {
    margin-top: 1.5rem !important;
  }
}

.valid-feedback, .invalid-feedback {
  display: block;
}

.alert-page {
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.sidebar-depth {
  transition: width .3s ease, transform .2s ease;
  transform: translate3d(calc(-100% - 464px), 0, 0);
}

.form-row label.essential, .form-group span.essential {
  position: relative;
}

.form-row label.essential:after, .form-group span.essential:after {
  content: '';
  position: relative;
  top: -10px;
  margin-left: 3px;
  width: 4px;
  height: 4px;
  background-color: #E83B3B;
  border-radius: 50%;
  display: inline-block;
}

.dropdown-menu.no-arrow.show:after, .dropdown-menu.no-arrow.show:before, .show > .dropdown-menu.no-arrow:after, .show > .dropdown-menu.no-arrow:before {
  opacity: 0;
}

.ol-dragbox {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #E83B3B;
}

.rolling-box {
  width: 450px;
  height: 35px;

  ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    list-style-type: none;

    li {
      width: 100%;
      height: 100%;
      transition: .5s;
      position: absolute;
      transition: top .75s;
      top: 100%;
      z-index: 1;
      left: 0;
      visibility: hidden;

      &.card-sliding {
        top: 0 !important;
        z-index: 100 !important;
        visibility: visible;
      }

      &.card-sliding-after {
        top: -100% !important;
        z-index: 10 !important;
        visibility: visible;
      }
    }
  }
}

.invalid-alert {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mouse-point.space-marker {
  &.location-correction {
    transform: translate(-50%, -100%);
  }

  .marker-inner:before {
    visibility: hidden;
  }
}

.btn-widget-holder {
  .btn-white {
    &.active {
      background-color: #5567FF !important;
      border-color: darken(#5567FF, 5%) !important;
      color: #fff !important;
      box-shadow: none;
    }

    i {
      line-height: 1;
    }
  }
}

.home-list span.badge {
  border-radius: 50px;
  font-weight: bold;
  margin-right: .25rem;
}

.current-location .location-depth .filter-item-dropdown {
  top: 3px;
}

.z-index-0 {
  z-index: 0 !important;
}

.physical-distribution-logistics-flatpickr {
  width: 10rem;
  background-color: #FFFFFF;
  padding: .5rem .75rem;
  background-clip: padding-box;
  border: 1px solid #EDF0F2;
  border-radius: .25rem;

  &.disabled {
    background-color: #F7F7F7;
  }
}

.physical-distribution-flatpickr {
  border: none;
  width: 83px;
}

.statistics-flatpickr {
  border: none;
  padding: .15rem .5rem;
  background-color: rgba(85, 103, 255, 0.05);
  border-radius: .25rem;
  width: 182px
}

.btn-top-holder {
  .irs--flat {
    .irs-bar {
      background-color: #5567ff;
    }

    .irs-handle {
      & > i:first-child {
        background-color: #5567ff;
      }

      &:hover {
        & > i:first-child {
          background-color: #5567ff;
        }
      }
    }

    .irs-single {
      background-color: #5567ff;

      &:before {
        border-top-color: #5567ff;
      }
    }
  }
}

.img-gallery-modal-content {
  position: static;
  width: auto;
}

.water-mark-wrap .grayscale {
  max-width: 10rem;
}

.cd-panel__show {
  right: 0;
  left: inherit;
  visibility: visible;
  z-index: 1;
}